@charset 'utf-8';
.transition{transition: 0.3s;}
.fadeInUp{
    animation: fadeInUp 0.3s ease;
}
.fadeInDown{
    animation: fadeInDown 0.3s ease;
}
.fadeInLeft{
    animation: fadeInLeft 0.3s ease;
}
.fadeInRight{
    animation: fadeInRight 0.3s ease;
}
.progress{
    animation: progress 0.3s ease;
}
.hoverFadeInUp:hover{
    animation: fadeInUp 0.3s ease;
}
.hoverFadeInDown:hover{
    animation: fadeInDown 0.3s ease;
}
.hoverFadeInLeft:hover{
    animation: fadeInLeft 0.3s ease;
}
.hoverFadeInRight:hover{
    animation: fadeInRight 0.3s ease;
}
.hoverProgress:hover{
    animation: progress 0.3s ease;
}
.icon-rotate i{
    transform: rotate(-180deg);
}
@keyframes slideRight{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes fadeInUp{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInDown{
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInDownMenu{
    from{
        transform: translate(-50%,-20px);
        opacity: 0;
    }
    to{
        transform: translate(-50%,0px);
        opacity: 1;
    }
}
@keyframes fadeInLeft{
    from{
        transform: translatex(-20px);
        opacity: 0;
    }
    to{
        transform: translatex(0px);
        opacity: 1;
    }
}
@keyframes fadeInRight{
    from{
        transform: translatex(20px);
        opacity: 0;
    }
    to{
        transform: translatex(0px);
        opacity: 1;
    }
}
@keyframes progress{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}