@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR|Nunito|Poppins|Roboto|Viaoda+Libre|Righteous&display=swap');
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
/*
font-family: 'Viaoda Libre', cursive; 영문 필기체
font-family: 'Roboto', sans-serif; 영문 title
font-family: 'Nanum Gothic', sans-serif; 한글 title
font-family: 'Noto Sans KR', sans-serif; 한글 일반
font-family: 'Nunito', sans-serif; 영문 일반
font-family: 'Righteous', cursive; fhrh
*/

:root{
    --var-main-color:#2ed5d5;
    --var-main-color-alpah:#2ed5d580;
    --var-main-color-light:#52FFFF;
    --var-main-color-dark:#118A8A;
    --var-nav-height:80px;
}
body{
    font-family: 'Nunito','S-CoreDream-3Light','Noto Sans KR','arial','고딕', sans-serif;
    color: #333;
    line-height: 1.5;
}
body,input,select,textarea,button{
    font-family: 'Nunito','S-CoreDream-3Light','Noto Sans KR','arial','고딕', sans-serif;
}
input,select,textarea{
    color: #333;
}
a,button,input[type=submit]{
    outline: none;
    cursor: pointer;
}
button{
    border: 0px;
    background-color: transparent;
}
img{
    width: 100%;
    display: block;
}
main section{
    padding: 100px 0px;
}
nav{
    transition: 0.3s;
}
.title{
    font-family: 'Roboto','Nanum Gothic', sans-serif; 
    font-size: 2rem;
    font-weight: 700;
}
.sub-title{
    font-family: 'Roboto','Nanum Gothic', sans-serif; 
    font-size: 1.5rem;
    font-weight: 500;
}
.large-title{
    font-family: 'Roboto','Nanum Gothic', sans-serif; 
    font-size: 1.25rem;
    font-weight: 500;
}
.stan-title{
    font-family: 'Roboto','Nanum Gothic', sans-serif; 
    font-size: 1.125rem;
    font-weight: 500;
}
.tiny-title{
    font-family: 'Roboto','Nanum Gothic', sans-serif; 
    font-size: 0.875rem;
    font-weight: 500;
}
.content{
    font-size: 2rem;
}
.sub-content{
    font-size: 1.5rem;
}
.large-content{
    font-size: 1.25rem;
}
.stan-content{
    font-size: 1.125rem;
}
.small-content{
    font-size: 1rem;
}
.tiny-content{
    font-size: 0.875rem;
}
.hero .small-title{
    color: var(--var-main-color);
    font-weight: 700;
}

.small-title{
    font-family: 'Roboto','Nanum Gothic', sans-serif; 
    font-size: 1rem;
    font-weight: 500;
}
.flex-box{
    display: flex;
}
.flex-j-space{
    justify-content: space-between;
}
.flex-j-center{
    justify-content: center;
}
.flex-a-center{
    align-items: center;
}
.flex-direction-c{
    flex-direction: column;
}
.flex-a-flexend{
    align-items: flex-end;
}
.flex-a-space{
    align-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.term-box{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.term-box a{
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
    padding: 20px 0px;
}
.term-box:last-child a{
    margin-right: 0px;
}
.footer-box{
    background-color: #333;
    font-size: 0.875rem;
}
.footer-box{
    color: #fff;
}
.m0{margin: 0px !important;}
.m10{margin: 10px;}
.m20{margin: 20px;}
.m30{margin: 30px;}
.m40{margin: 40px;}
.m50{margin: 50px;}
.m100{margin: 100px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb100{margin-bottom: 100px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt100{margin-top: 100px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}
.ml100{margin-left: 100px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr50{margin-right: 50px;}
.mr100{margin-right: 100px;}
.m-0a{margin: 0 auto;}
.p0{padding: 0px !important;}
.p10{padding: 10px;}
.p20{padding: 20px;}
.p30{padding: 30px;}
.p40{padding: 40px;}
.p50{padding: 50px;}
.p100{padding: 100px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb100{padding-bottom: 100px;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt100{padding-top: 100px;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}
.pl50{padding-left: 50px;}
.pl100{padding-left: 100px;}
.pl3p{padding-left: 3%;}
.pl5p{padding-left: 5%;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}
.pr100{padding-right: 100px;}
.pr3p{padding-right: 3%;}
.pr5p{padding-right: 5%;}
.border{border: 1px solid #333;}
.border-gray{border: 1px solid #ccc;}
.border-round-5{border-radius: 5px;}
.border-bottom{border-bottom: 1px solid #ccc;}
.border-top{border-top: 1px solid #ccc;}
.border-left{border-left: 1px solid #ccc;}
.border-right{border-right: 1px solid #ccc;}
.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
.dis-none{display: none;}
.z-index-1{ z-index: 1;}
.bold{font-weight: 700;}
.bg-gray{ background-color: #f5f7fa;}
.bg-main-color{ background-color: var(--var-main-color);}
.bg-main-alpha-color{ background-color: var(--var-main-color-alpah);}
.align-center{
    text-align: center;
}
.v-align-middle{
    vertical-align: middle;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.container.max800{
    max-width: 800px;
}
.container.max1000{
    max-width: 1000px;
}
.container.max1200{
    max-width: 1200px;
}
.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.w-100{width: 100px;}
.w-150{width: 150px;}
.w-200{width: 200px;}
.w-300{width: 300px;}

.w-100p{width: 100%;}
.w-90p{width: 90%;}
.w-80p{width: 80%;}
.w-75p{width: 75%;}
.w-70p{width: 70%;}
.w-60p{width: 60%;}
.w-6{width: 50%;}
.w-49p{width: 49%;}
.w-33p{width: calc(100% / 3);}
.w-30p{width: 30%;}
.w-25p{width: 25%;}

.h-100p{height: 100%;}
.h-75p{height: 75%;}
.h-70p{height: 70%;}
.h-50p{height: 50%;}
.h-33p{height: calc(100% / 3);}
.h-30p{height: 30%;}
.h-25p{height: 25%;}

.fw-100p{flex-basis: 100%;}
.fw-75p{flex-basis: 75%;}
.fw-70p{flex-basis: 70%;}
.fw-50p{flex-basis: 50%;}
.fw-33p{flex-basis: calc(100% / 3);}
.fw-30p{flex-basis: 30%;}
.fw-25p{flex-basis: 25%;}
.clear-fix{clear: both;}

.col-lg-1{width: calc(100% / 12);}
.col-lg-2{width: calc(100% / 6);}
.col-lg-3{width: calc(100% / 4);}
.col-lg-4{width: calc(100% / 3);}
.col-lg-5{width: calc(100% * 5 / 12);}
.col-lg-6{width: calc(100% / 2);}
.col-lg-7{width: calc(100% * 7 / 12);}
.col-lg-8{width: calc(100% * 2 / 3);}
.col-lg-9{width: calc(100% * 3 / 4);}
.col-lg-10{width: calc(100% * 5 / 6);}
.col-lg-11{width: calc(100% * 11 / 12);}
.col-lg-12{width: 100%;}

.line-height-15{line-height: 1.5;}
.line-height-17{line-height: 1.7;}
.line-height-2{line-height: 2;}
.line-height-3{line-height: 3;}
.letter-space-5{letter-spacing: 5px;}
.letter-space-3{letter-spacing: 3px;}
.letter-space-m1{letter-spacing: -1px;}
.logo{
    font-family: 'Righteous', cursive;
    font-size: 2rem;
}
.btn-stan{
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    border: 1px solid transparent;
    background-color: #ccc;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 3px;
}
.btn-stan:hover{
    background-color: #fff;
    color: #ccc;
    border: 1px solid #ccc;
}
.btn-main{
    background-color: var(--var-main-color);
    color: #fff;
    border-color: var(--var-main-color);
}
.btn-main:hover{
    background-color: #fff;
    color: var(--var-main-color);
}
.position-rel{
    position: relative;
}
.input-stan{
    padding: 0px 10px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.select-stan{
    padding: 0px 5px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.hover-underline::after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -2px;
    height: 2px;
    background-color: #333;
    transition: 0.3s ease;
}
nav:not(.active) .hover-underline::after{
    background-color: #fff;
}
.hover-underline:hover::after{
    left: 0;
    right: 0;
}
.hover-main:hover{
    transition: 0.3s ease;
    color: var(--var-main-color);
}
.img-cover{
    overflow: hidden;
}
.text-max-line{
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient:vertical;
    overflow: hidden;
}
.text-max-line.line1{
    -webkit-line-clamp:1;
}
.text-max-line.line2{
    -webkit-line-clamp:2;
}
.text-max-line.line3{
    -webkit-line-clamp:3;
}
.text-max-line.line5{
    -webkit-line-clamp:5;
}
.main-color{color: var(--var-main-color);}
.main-color-light{color: var(--var-main-color-light);}
.main-color-dark{color: var(--var-main-color-dark);}
nav{
    position: fixed;
    width: 100%;
    top: 0px;
    height: var(--var-nav-height);
    line-height: var(--var-nav-height);
    color: #fff;
    z-index: 100;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
nav.active{
    background-color: #fff;
    color:#333;
    border-bottom: 1px solid #ccc;
}
.gnb-menu > li{
    position: relative;
    margin-left: 30px;
    font-size: 1.125rem;
    font-weight: 600;
}
.gnb-menu > li >a{
    position: relative;
}
.gnb-menu > li:hover .sub-menu{
    position: absolute;
    display: block;
    width: 130px;
    font-size: 1rem;
    line-height: 50px;
}
.gnb-menu{
    position: relative;
}
.gnb-menu .sub-menu{
    display: none;
    position: absolute;
    border-top: 3px solid #2780E3;
    display: none;
    color: #333;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.05);
}
.gnb-menu .sub-menu li{
    display: block;
    text-align: center;
}
.gnb-menu li:hover .sub-menu{
    display: block;
    animation: fadeInDownMenu 0.3s;
}
.search-btn-cover button,.search-btn-cover a{
    font-size: 1rem;
    line-height: 100%;
    font-weight: 300;
}
.search-btn-cover button i{
    color: inherit;
}
.search-cover{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #333;
}
.search-cover.active{
    display: block;
}
.search-cover form{
    position: relative;
}
.search-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.5rem;
}
.search-btn.right{
    right: 10px;
    left: auto;
}
.search-bar{
    width: 100%;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    padding: 0px 20px 0px 40px;
    outline: none;
}
.search-bar:focus{
    border-color: #7b9dd4;
}
.search-bar::placeholder{
    font-size: 1rem;
}
.dis-mobile{
    display: none;
}
.bg-hero-cover{
    position: relative;
    width: 100%;
    height: 80vh;
}
.btn-alerm{
    vertical-align: middle;
    border: 1px solid var(--var-main-color);
    background-color: transparent;
    color: var(--var-main-color);
}
.btn-alerm:hover{
    background-color: var(--var-main-color);
    border-color:var(--var-main-color);
    color: #fff;
}
.bg-main{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.bg-txt{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px;
    color: #fff;
}
.hero,.hero .item{
    position: relative;
}
.bg-main::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
}
.bg-black-cover{
    position: relative;
}
.bg-main::after,.bg-black-cover::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}
.bg-hero-cover{
    position: relative;
    z-index: 1;
}

.item-only .bg-hero-cover{
    height: 40vh;
    display: flex;
    align-items: center;
}
.item-only .bg-txt{
    position: relative;
    left: auto;
    transform: translate(0);
    bottom: auto;
    color: #fff;
    text-align: center;
}
.hero.item-only .bg-img.bg-main{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.item-box{
    position: relative;
    flex-basis: 24%;
    transition: 0.3s ease;
}
.news-item:hover,.item-box:hover{
    transform: translateY(-10px);
}
.txt-box{
    padding: 30px 20px;
}
.txt-box .title{
    font-size: 1.125rem;
}
.progress-bar{
    position: relative;
    width: 100%;
    height: 7px;
    background-color: #ccc;
}
.progress-bar .percent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;  
    transition: 0.3s ease;
    background: linear-gradient(to left,#2ED5D5,#b6fff8);
    /* background-color: var(--var-main-color); */
}
.round-img-box img{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.item-box .img-box{
    position: relative;
    width: 100%;
    padding-top: 66.6666%;
    overflow: hidden;
}
.item-box .img-box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.item-box .img-box::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(255,255,255,0.3);
    opacity: 0;
    transition: 0.3s ease;
}
.item-box:hover .img-box::after{
    opacity: 1;
}
.item-box:hover .img-box img{
    transition: 0.3s ease;
    transform: scale(1.1);
}
.border-box{
    border: 1px solid #ccc;
}
.border-animation{
    position: absolute;
    transition: 0.3s ease;
    background-color: #7b9dd4;
}
.border-animation.border-1{
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
}
.border-animation.border-2{
    right: 0;
    top: 0;
    width: 1px;
    height: 0;
}
.border-animation.border-3{
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
}
.border-animation.border-4{
    left: 0;
    bottom: 0;
    width: 1px;
    height: 0px;
}
.item-box:hover .border-animation.border-1,
.item-box:hover .border-animation.border-3{
    width: 100%;
}
.item-box:hover .border-animation.border-2,
.item-box:hover .border-animation.border-4{
    height: 100%;
}
.reward-description{
    position: relative;
    width: 100%;
    padding: 100px 0px;
    background-color: #2a3077d0;
    color: #fff;
    text-align: center;
}
.section-location{
    font-size: 1.25em;
}
.google-map{
    height: 450px;
}
.gray{
    color: #aaa;
}
.gray-dark{
    color: #666;
}
.black{
    color: #333;
}
.black-alpha{
    color: rgba(0,0,0,0.8);
}
.white{
    color: #fff;
}
.white-alpha{
    color: rgba(255,255,255,0.8);
}
.nav-mobile-menu{
    height: calc(100vh - var(--var-nav-height));
    background: rgba(0,0,0,0.9);
    color: #d6d6d6;
    text-align: left;
}
.nav-mobile-menu,.nav-mobile-menu.active{
    display: none;
}
.reward-info{
    padding: 0;
}
.reward-info-item{
    width: 33.33%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reward-info-text{
    color: #fff;
    text-align: center;
    padding: 0px 5%;
    word-break: keep-all;
}
.close i:before{
    content: "\f00d" !important;
}
.footer-item{
    width: 47%;
    word-break: keep-all;
}
.news-items{
    width: 24%;
}
.news-items:last-child{
    width: 50%;
}
.news-items:last-child .news-item{
    width: 49%;
}
.news-items:last-child .news-item:last-child{
    width: 100%;
}
.news-item{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.05);
    transition: 0.3s ease;
}
.news-items{
    margin-top: 20px;
}
.news-items .news-item.news-item-only:first-child{
    margin-top: 0px;
}
.news-items .news-item:last-child{
    margin-top: 20px;
}
.news-item-only{
    height: 100%;
}
.news-img{
    height: 50%;
}
.news-items:last-child .news-img{
    height: 100%;
}
.funding-btn{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: var(--var-main-color);
    color: #fff;
}
.funding-btn:hover{
    border-color: var(--var-main-color);
    background-color: transparent;
    color: var(--var-main-color);
}
.box{
    display: block;
}
.inline-box{
    display: inline-block;
}
.gray-box{
    border: 1px solid #ccc;
}
.gray-round-box{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.bg-sns{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: 0.3s;
    color: #666;
    border-color: #666;
}
.bg-sns:hover{
    color: #fff;
}
.bg-facebook:hover{
    background-color: #3b5998;
    border: 1px solid transparent;
}
.bg-kakaotalk:hover,.bg-kakaostory:hover{
    background-color: #fae100;
    border: 1px solid #f5f5f5;
    color:#333;
}
.bg-instagram:hover{
    background:linear-gradient(225deg,#7024C4,#C21975,#C74C4D,#E09B3D);
    border: 1px solid transparent;
}
.bg-twitter:hover{
    background-color: #2aa9e0;
    border: 1px solid transparent;
}
.bg-blog:hover{
    background-color: #00c23a;
    border: 1px solid transparent;
}
.bg-external:hover{
    background-color: #3e2224;
    border: 1px solid transparent;
}
.mypage-btn{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.mypage-wrap{
    display: none;
    background-color: rgba(0,0,0,0.3);
}
.mypage-wrap,.mypage-cover{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}
.mypage-wrap.active{
    display: block;
}

.mypage-menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    border-left:1px solid #dadce0;
    line-height: 1.5;
    max-width: 300px;
    z-index: 99;
    font-size: 0.875rem;
    font-weight: bold;
    word-break: break-all;
}
.mypage-close-btn{
    color: #333;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon/close-icon-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
}
/* .mypage-menu::after,.mypage-menu::before{
    position: absolute;
    content: '';
    top: -10px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    height: 0;
    z-index: -1;
    border-bottom: 10px solid #fff;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    color: #fff;
}
.mypage-menu::before{
    margin-top: -1.5px;
    border-bottom-color: #dadce0;
} */
.mypage-wrap.active .mypage-menu{
    animation: slideRight 0.3s ease;
}
.mypage-profile,.mypage-link{
    padding: 20px;
}
.mypage-profile{
    text-align: center;
    background-color: var(--var-main-color);
    color: rgba(255, 255, 255, 0.85);
}
.mypage-link{
    color:rgba(51, 51, 51, 0.9);
}
.mypage-link li{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(224, 224, 224,0.8);
}
.mypage-link li:last-child{
    padding-bottom:0px;
    border-bottom:0;
}
.icon-round{
    border-radius: 50%;
    border: 1px solid #ccc;
}
.icon-30{
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    line-height: 30px;
}
.icon-40{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    line-height: 40px;
}
.icon-50{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    line-height: 50px;
}
.icon-100{
    width: 100px;
    height: 100px;
    font-size: 2rem;
    line-height: 100px;
}
.bar-indent{
    padding-left: 10px;
    text-indent: -10px;
}
.bar-indent::before{
    content: "- ";
}
.label-main-color{
    padding: 5px;
    background-color: var(--var-main-color);
    color: #fff;
}
.comment-form{
    width: 100%;
}
.comment-form textarea{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    height: 200px;
}
.comment-form .btn-wrap{
    width: 100%;
    text-align: right;
}
.comment-recomment-item{
    background-color: rgba(255, 89, 89, 0.05);
    margin-left: 30px;
    position: relative;
}
.comment-recomment-item::before{
    content: "\f3e5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -30px;
    top: 0;
    color: #aaa;
    font-size: 1.5rem;
    transform: rotate(180deg);
}

@media (max-width:1400px){
    .container{
        padding-left:3%;
        padding-right:3%;
    }
}
@media (max-width:1080px){
    main section{
        padding: 75px 0;
    }
    .laptop-dis-none{
        display: none;
    }
    .item-box{
        flex-basis: 49%;
    }
    .news-items,.news-items:last-child{
        width: 100%;
    }
    .news-items:first-child .news-item{
        width: 49%;
    }
    .news-item-only > a > div{
        width: 49%;
    }
    .news-img{
        height: 100%;
    }
    .news-items:first-child .news-item:last-child{
        margin-top: 0;
    }
    nav .btn-alerm{
        display: none;
    }
}
@media (max-width:768px){
    main section{
        padding: 50px 0;
    }
    body{
        font-size: 0.875rem;
    }
    .gnb-menu > li{
        font-size: 1rem;
    }
    .bg-txt > .title,.title{
        font-size: 1.5rem;
    }
    .bg-txt > .sub-title,.sub-title{
        font-size: 1.25rem;
    }
    .txt-box h3.title{
        font-size: 1rem;
    }
    nav.active{
        background-color: rgba(0,0,0,0.9);
        color: #d6d6d6;
        border-bottom:none;
    }
    nav.active button{
        color: #d6d6d6;
    }
    .col-sm-1{width: calc(100% / 12);}
    .col-sm-2{width: calc(100% / 6);}
    .col-sm-3{width: calc(100% / 4);}
    .col-sm-4{width: calc(100% / 3);}
    .col-sm-5{width: calc(100% * 5 / 12);}
    .col-sm-6{width: calc(100% / 2);}
    .col-sm-7{width: calc(100% * 7 / 12);}
    .col-sm-8{width: calc(100% * 2 / 3);}
    .col-sm-9{width: calc(100% * 3 / 4);}
    .col-sm-10{width: calc(100% * 5 / 6);}
    .col-sm-11{width: calc(100% * 11 / 12);}
    .col-sm-12{width: 100%;}

    .item-box{
        flex-basis: 49%;
    }
    .google-map{
        height: 300px;
    }
    .dis-mobile{
        display: block;
    }
    .dis-pc{
        display: none;
    }
    .nav-mobile-menu{
        display: none;
    }
    .nav-mobile-menu.active{
        display: block;
    }
    .term-box .container{
        display: flex;
        flex-wrap: wrap;
    }
    .term-box a{
        display: block;
        width: 50%;
        margin: 0;
    }
    .footer-item{
        width: 100%;
    }
    .footer-item:first-child{
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .google-map{
        margin-top: 50px;
    }
    .bg-hero-cover{
        height: 40vh;
    }
    .gnb-mobile-menu{
        line-height: 1.5;
        height: auto;
    }
    .gnb-mobile-menu button{
        font-size: 1.25rem;
        font-weight: 600;
    }
    .gnb-mobile-menu > li{
        font-size: 0.95rem;
        font-weight: 600;
        padding: 15px 0px;
        margin: 0px 50px;
        border-bottom: thin solid #666;
    }
    .gnb-mobile-menu .sub-menu{
        display: none;
    }
    .gnb-mobile-menu .sub-menu {
        padding-left: 20px;
    }
    .gnb-mobile-menu .sub-menu li{
        padding: 5px 0px;
    }
    .gnb-mobile-menu .search-cover{
        display: block;
        position: relative;
        border-bottom: 0;
        background: transparent;
    }
    .gnb-mobile-menu .search-cover .container{
        background: #333;
        border-radius: 25px;
    }
    .gnb-mobile-menu .search-cover .container form{
        border: none;
    }
    .gnb-mobile-menu .search-cover .search-btn{
        color: #666;
    }
    .gnb-mobile-menu .search-cover .search-bar{
        background: transparent;
        height: 30px;
        line-height: 30px;
        color: #fff;
        border: none;
    }
    .gnb-mobile-menu .search-cover .search-bar::placeholder{
        font-size: 0.875rem;
    }
    .nav-mobile-menu > li:first-child{
        padding-top: 0px;
        margin: auto 10px;
        border-bottom: 1px solid;
    }
    .container{
        padding-left:6%;
        padding-right:6%;
    }
    .reward-info-item{
        width: 100%;
    }
    .news-items:first-child .news-item{
        width: 100%;
    }
    .news-item-only > a > div{
        width: 100%;
    }
    .news-items:first-child .news-item:last-child{
        margin-top: 20px;
    }
    .news-img,.news-items:last-child .news-img{
        height: 200px;
        margin-top: 10px;
    }
    .search-btn{
        font-size: 0.875rem;
    }
    .mobile-div,.mobile-div tr,.mobile-div td,.mobile-div th,.mobile-div tbody,.mobile-div thead{
        width: 100%;
        display: block;
    }
    .news-items:last-child .news-item{
        width: 100%;
    }
    .news-items:last-child .news-item:nth-child(n+2){
        margin-top: 20px;
    }
    .top-menu-m-side{
        width: 20%;
        text-align: left;
    }
    .top-menu-m-center{
        width: 60%;
        justify-content: center;
    }
    .top-menu-m-side:last-child{
        text-align: right;
    }
}
@media (max-width:480px){
    .col-xs-1{width: calc(100% / 12);}
    .col-xs-2{width: calc(100% / 6);}
    .col-xs-3{width: calc(100% / 4);}
    .col-xs-4{width: calc(100% / 3);}
    .col-xs-5{width: calc(100% * 5 / 12);}
    .col-xs-6{width: calc(100% / 2);}
    .col-xs-7{width: calc(100% * 7 / 12);}
    .col-xs-8{width: calc(100% * 2 / 3);}
    .col-xs-9{width: calc(100% * 3 / 4);}
    .col-xs-10{width: calc(100% * 5 / 6);}
    .col-xs-11{width: calc(100% * 11 / 12);}
    .col-xs-12{width: 100%;}
    .item-box{
        flex-basis: 100%;
    }
    .news-items:last-child .news-item:nth-child(2){
        margin-top: 20px;
    }
    .news-items,.news-items:last-child .news-item{
        width: 100%;
    }
    
}